@charset "utf-8";
/* CSS Document */

/*  ===========================================================

	* FILENAME: "style.css"
	* DESCRIPTION: Primary style sheet for Rat Cave Productions website
	* VERSION: 2.01
	* WEBSITE: Rat Cave Productions
	* AUTHOR: Nolan Manning
 
	* COLOR PALETTE:
		#0074D9 - Primary Blue
		#060606 - Light Gray
		#111111 - Medium Gray
		#060606 - Dark Gray

	=========================================================== */


html {
	overflow-x: hidden;	
}

html, html a {
    -webkit-font-smoothing: antialiased;
}

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;		
}

body {
	background: #060606;	
}




/*  ==========================================================

	* NAV

    ==========================================================  */


nav {
	position: fixed;
	
	z-index: 3;
	overflow: hidden;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 280px;
	height: 100%;
	background: #222222;
	text-align: right;
}

nav a {
	text-decoration: none;	
}

.nav-box {
	float: left;
	width: 277px;
	height: 100%;
}

.nav-box a {
	display: block;	
}

nav ul {
	margin-top: 50px;
}

nav ul li {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

nav ul li a {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px 20px;
	width: 100%;
	color: #0D0D0D;
	
	text-decoration: none;
	
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.active {
	background: rgba(0,0,0,0.1);
	color: #fff;
}

nav ul li a:hover:not(.active) {
	color: #999;	
}

.selector-box {
	float: left;
	width: 3px;
	height: 100%;
}

.selector {
	position: absolute;
	top: 156px;
	width: 100%;
	height: 46px;
	background: #fff;
}




/*  ==========================================================

	* TOP

    ==========================================================  */


#top {
	
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
}

video {
    position:fixed;
    top:0;
    left:0;
    z-index: -1;
}

.overlay {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: url(../img/stripes.png);
	opacity: 1;
}

a.downarrow {
	position: absolute;
	bottom: 0;
	z-index: 2;
	padding: 20px 0;
	width: 100%;
	color: #555;
	text-align: center;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

a.downarrow:hover {
	padding-bottom: 25px;
	color: #FFF;
}




/*  ==========================================================

	* GENERAL ARTICLE STYLES

    ==========================================================  */


article {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: auto;
	padding: 100px 0;
	background: #111111;		
	position: relative;
	z-index: 2;
}

article .ontop {
	z-index: 5;
}

#about img {
	margin-bottom: -104px;
	text-align: center;
}

img {
	text-align: center;
}

#services, #team {
	background: #060606;
}

.weighted-padding {
	padding: 100px 50px 100px 330px;
}

.content {
	margin: 0 auto;
	width: 800px;
}




/*  ==========================================================

	* ABOUT

    ==========================================================  */


.icon-wrapper {
	overflow: hidden;
	margin-bottom: 50px;
	width: 800px;
	height: 100%;
}

.icon-box {
	float: left;
	padding: 15px 15px 0 15px;
	width: calc(25% - 30px);
	height: auto;
	text-align: center;
}

.icon-base {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0 auto;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.05);
	color: #fff;
	
	-webkit-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.icon-base:after {
	position: absolute;
	top: -7px;
	left: -7px;
	display: block;
	padding: 7px;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: 0 0 0 4px #fff;
	content: '';
	
	opacity: 0;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
	
	-webkit-transform: scale(.8);
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transform: scale(.8);
	pointer-events: none;
}

.icon-base i {
	position: absolute;
	display: block;
	padding-top: 27px;
	width: 100%;
	height: 100%;	
}

.icon-base:hover {
	background: rgba(255,255,255,1);
	color: #060606;	
}

.icon-base:hover:after {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.icon-wrapper.small {
	margin-right: 50px;
	margin-left: 50px;
	width: 700px;
}

.smallicon-box {
	float: left;
	padding: 15px 0 0 0;
	width: 140px;
	height: auto;
	text-align: center;
}

.smallicon-base {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0 auto;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.05);
	color: #fff;
	
	-webkit-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.smallicon-base i {
	position: absolute;
	display: block;
	padding-top: 18px;
	width: 100%;
	height: 100%;	
}

.smallicon-base:hover {
	background: rgba(255,255,255,1);
	color: #060606;	
}




/*  ==========================================================

	* WORK

    ==========================================================  */


#filters {
	float: left;
	margin-bottom: 50px;
	width: 800px;
}

.filter-spacer {
	position: relative;
	float: left;
	width: 6%;
	height: 48px;
}

#project-content {
	float: left;
	height: 100%;
	width: 800px;
}

.project-box {
    position: relative;
	float: left;
    overflow: hidden;
    width: 33.3%;
    height: 200px;
    text-align: center;
}

a.project-box {
	text-decoration: none;
}

.project-box img {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	min-height: 100%;
	width: 100%;
	height: auto;
	text-align: center;
}

.project-overlay {
	position: relative;
	width: 100%;
	height: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: rgba(52,152,219,0.7);
	display: table;
	padding: 0 30px;

	opacity: 0;

	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.project-overlay:hover {
	opacity: 1;
}

.project-title {
	height: 100%;
	width: 100%;
    vertical-align: middle;
	display: table-cell;
	margin: auto;
}




/*  ==========================================================

	* TEAM

    ==========================================================  */

.team-box {
    position: relative;
	float: left;
    overflow: hidden;
    width: 49%;
    height: 300px;
    text-align: center;
    margin-bottom: 16px;
}

a.team-box {
	text-decoration: none;
}

.team-box img {
	position: absolute;
	top: 0; right: 0; right: 0; bottom: 0;
	min-height: 100%;
	width: 100%;
	height: auto;
	text-align: center;
}

.team-column-spacer {
	width: 2%;
	float: left;
	height: 300px;
	margin-bottom: 16px;
}

.team-overlay {
	position: absolute;
	width: 332px;
	height: 240px;
	right: 0; bottom: 0; left: 0;
	background: rgba(0,0,0,0.8);
	padding: 30px;
}

.team-title p {
	padding-top: 25px;
	text-align: left;
}

.team-links {
	position: absolute;
	width: 332px;
	height: auto;
	text-align: right;
	bottom: 30px;
}

.team-links i {
	padding: 0 10px;
	color: #999;

	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.team-links i:hover {
	color: #fff;
}

.team-box .team-overlay {
	top: 75%;
	background: rgba(0,0,0,0);

	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.team-box:hover .team-overlay {
	top: 0;
	background: rgba(0,0,0,0.8);
}




/*  ==========================================================

	* HEADERS and PARAGRAPHS

    ==========================================================  */


h1 {
	margin-bottom: 50px;
	color: #222222;
	text-align: center;
	letter-spacing: 0.05em;
	font-weight: 400;
	font-size: 48px;
}

#top h1 {
	padding-top: 60px;
	color: #fff;
}

h2 {
	color: #fff;
	text-align: center;
	letter-spacing: 0.05em;
	font-weight: 400;
	font-size: 26px;
	line-height: 110%;
	margin-bottom: 20px;
}

h2 i {
	vertical-align: top;
	font-size: 14px;
}

.nav-box a h2 {
	padding: 50px 25px 0 0;
	text-align: right;
}

h3 {
	color: #fff;
	text-align: center;
	letter-spacing: 0.05em;
	font-weight: 400;
	font-size: 18px;
	line-height: 110%;
	-webkit-text-stroke: 0.4px;
}

.icon-wrapper h3 {
	padding-top: 40px;	
}

h4 {
	padding-top: 5px;
	color: #EEE;
	text-align: center;
	letter-spacing: 0.1em;
	font-weight: 500;
	font-size: 16px;
	font-family: "Raleway", Arial, sans-serif;
	line-height: 130%;
}

p {	
	padding: 20px 0 0 0;
	color: #BBB;
	letter-spacing: 0.05em;
	font-weight: 500;
	font-size: 14px;
	font-family: "Raleway", Arial, sans-serif;
	line-height: 150%;
}

p.center-text {
	margin: 0 100px 50px 100px;
	padding: 0 20px;
	border-right: 3px solid #0074D9;
	border-left: 3px solid #0074D9;
	text-align: center;
	font-size: 18px;
}

p.center-text-small {
	margin: 20px 100px 50px 100px;
	padding: 0 20px;
	text-align: center;
}

p span {
	color: #0074D9;
}

p a {
	color: #BBB;
	text-decoration: none;

	border-bottom: 1px solid white;

	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

p a:hover {
	color: #FFF;
}




/*  ==========================================================

	* HELPER CLASSES

    ==========================================================  */


.hide {
	display: none;
}

.no-margin {
	margin-bottom: 0;
}

.hide-overflow {
	overflow: hidden;
}

.white {
	color: #fff;
}

.blue {
	color: #0074D9;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}




/*  ==========================================================

	* PRELOADER

    ==========================================================  */


#preloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3; /* makes sure it stays on top */
    background: #060606; /* change if the mask should have another color than white */
}

#status {
    position: absolute;
    top: 50%; /* centers the loading animation vertically on the screen */
    left: 50%; /* centers the loading animation horizontally on the screen */
    margin: -32px 0 0 -100px; /* is width and height divided by two */
    width: 200px;
	color: #fff;
	font-size: 36px;
	text-align: center;
}

#status span {
	color: #333;
	font-size: 24px;	
}

.custom-theme {
	margin-top: 15px;
	padding: 20px;
	border: 0 solid #333;
	border-radius: 4px;
	background-color: #333;
}

.custom-theme .qtip-content {
	color: #999;
	font-size: 14px;
	font-family: 'Raleway', Arial, sans-serif;
}




/*  ==========================================================

	* ISOTOPE

    ==========================================================  */


/**** Isotope Filtering ****/

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    z-index: 1;
    pointer-events: none;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    transition-duration: 0s;
}

/* End: Recommended Isotope styles */