@charset "utf-8";
/* CSS Document */

/*  ===========================================================

	* FILENAME: "style.css"
	* DESCRIPTION: Primary style sheet for Rat Cave Productions website
	* VERSION: 2.01
	* WEBSITE: Rat Cave Productions
	* AUTHOR: Nolan Manning
 
	* COLOR PALETTE:

		#0074D9 - Primary Blue
		#2991EC - Highlight Blue

		#222222 - Light Gray
		#111111 - Medium Gray
		#060606 - Dark Gray

		#666666 - Paragraph
		#999999 - Paragraph Link
		#FFFFFF - Paragraph Link Hover

	=========================================================== */


html {
	overflow-x: hidden;	
}

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;		
}

body {
	background: #000000;	
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}





/*  ==========================================================

	* HEADERS and PARAGRAPHS

    ==========================================================  */


h1, h2, h3 {
	letter-spacing: 0.06em;
	font-weight: 400;
	text-align: center;
}

h1 {
	margin-bottom: 50px;
	color: #222222;
	font-size: 48px;
}

#top h1 {
	padding-top: 60px;
	color: #FFFFFF;
}

h2 {
	color: #FFFFFF;
	font-size: 26px;
	line-height: 110%;
	margin-bottom: 20px;
}

h2 i {
	vertical-align: top;
	font-size: 14px;
}

.nav-box a h2 {
	padding: 50px 25px 0 0;
	text-align: right;
}

h3 {
	color: #FFFFFF;
	font-size: 18px;
	line-height: 110%;
	-webkit-text-stroke: 0.4px;
}

.icon-wrapper h3 {
	padding-top: 40px;	
}

h4 {
	padding-top: 5px;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 0.1em;
	font-weight: 500;
	font-size: 16px;
	font-family: "Raleway", Arial, sans-serif;
	line-height: 130%;
	margin-bottom: 10px;
}

p {	
	padding: 20px 0 0 0;
	color: #666666;
	letter-spacing: 0.05em;
	font-weight: 500;
	font-size: 14px;
	font-family: "Raleway", Arial, sans-serif;
	line-height: 150%;
}

p.center-text {
	padding: 0 20px;
	border-right: 3px solid #0074D9;
	border-left: 3px solid #0074D9;
	text-align: center;
	font-size: 18px;
}
.isMobileTall p.center-text {
	padding: 0 10px;
	margin: 0 0 50px 0;
}
.isMobileWide p.center-text {
	padding: 0 10px;
	margin: 0 0 50px 0;
}
.isLaptop p.center-text {
	margin: 0 0 50px 0;
}
.isDesktop p.center-text {
	margin: 0 100px 50px 100px;
}

p.center-text-small {	
	text-align: center;
}
.isMobileTall p.center-text-small {
	padding: 0 10px;
	margin: 0 0 20px 0;
}
.isMobileWide p.center-text-small {
	padding: 0 10px;
	margin: 0 0 20px 0;
}
.isLaptop p.center-text-small {
	padding: 0 20px;
	margin: 0 0 30px 0;
}
.isDesktop p.center-text-small {
	padding: 0 20px;
	margin: 0 100px 30px 100px;
}

p span {
	color: #0074D9;
}

p a {
	color: #999999;
	text-decoration: none;

	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

p a:hover {
	color: #FFFFFF;
}

p a span {
	color: #999999;
	font-size: 36px;

	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

p a:hover span {
	color: #FFFFFF;
}




/*  ==========================================================

	* NAV

    ==========================================================  */


nav {
	position: fixed;
	
	z-index: 3;
	overflow: hidden;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 280px;
	height: 100%;
	background: #222222;
	text-align: right;
}

nav a {
	text-decoration: none;	
}

.nav-box {
	float: left;
	width: 277px;
	height: 100%;
}

.nav-box a {
	display: block;	
}

nav ul {
	margin-top: 50px;
}

nav ul li {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

nav ul li a {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px 20px;
	width: 100%;
	color: #0D0D0D;
	
	text-decoration: none;
	
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.active {
	background: rgba(0,0,0,0.1);
	color: #FFFFFF;
}

nav ul li a:hover:not(.active) {
	color: #FFFFFF;	
}

.selector-box {
	float: left;
	width: 3px;
	height: 100%;
}

.selector {
	position: absolute;
	top: 156px;
	width: 100%;
	height: 46px;
	background: #FFFFFF;
}




/*  ==========================================================

	* TOP

    ==========================================================  */


#top {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
}


video {
    position:fixed;
    top:0;
    left:0;
    z-index: -6;
}

.overlay {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: -5;
	width: 100%;
	height: 100%;
	background: url(../img/stripes.png);
}

#logo {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: url(../img/rcp.svg) no-repeat center center;
	background-size: 50% 50%;
}

#touch-top {
	display: none;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: url(../img/projector.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a.downarrow {
	position: fixed;
	bottom: 0;
	z-index: 2;
	width: 100%;
	color: #666666;
	text-align: center;
	padding-bottom: 25px;
}

a.downarrow:hover {
	padding-bottom: 25px;
	color: #FFFFFF;
}

.isMobileTall .downarrow {
	font-size: 6px;
}
.isMobileWide .downarrow {
	font-size: 8px;
}
.isLaptop .downarrow {
	font-size: 10px;
}
.isDesktop .downarrow {
	font-size: 12px;
}



/*  ==========================================================

	* GENERAL ARTICLE STYLES

    ==========================================================  */


article {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: auto;
	padding: 100px 0;
	background: #111111;		
	position: relative;
	z-index: 2;
}

article .ontop {
	z-index: 5;
}

#about img {
	margin-bottom: -104px;
	text-align: center;
}

img {
	text-align: center;
}

#services, #team, #footer {
	background: #060606;
}

.weighted-padding {
	padding: 100px 50px 100px 330px;
}

.content {
    margin: 0 auto;
}
.isMobileTall .content {
	width: 300px;
}
.isMobileWide .content {
	width: 400px;
}
.isLaptop .content {
	width: 600px;
}
.isDesktop .content {
	width: 800px;
}


/*  ==========================================================

	* ABOUT

    ==========================================================  */


.icon-wrapper {
	overflow: hidden;
	margin-bottom: 50px;
	height: 100%;
	width: 100%;
}

.icon-box {
	float: left;
	height: auto;
	text-align: center;
}
.isMobileTall .icon-box {
	width: 50%;
	padding: 0;
}
.isMobileWide .icon-box {
	width: 50%;
	padding: 0;
}
.isLaptop .icon-box {
	width: calc(50% - 30px);
	padding: 15px 15px 0 15px;
}
.isDesktop .icon-box {
	width: calc(25% - 30px);
	padding: 15px 15px 0 15px;
}

.icon-base {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.05);
	color: #FFFFFF;
}
.isMobileTall .icon-base {
	width: 60px;
	height: 60px;
}
.isMobileWide .icon-base {
	width: 80px;
	height: 80px;
}
.isLaptop .icon-base, .isDesktop .icon-base {
	width: 100px;
	height: 100px;
}

.icon-base i {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;	
}
.isMobileTall .icon-base i {
	font-size: 26px;
	padding-top: 17px;
}
.isMobileWide .icon-base i {
	font-size: 30px;
	padding-top: 25px;
}
.isLaptop .icon-base i, .isDesktop .icon-base i {
	padding-top: 35px;
}

.isMobileTall .icon-box h3 {
	font-size: 14px;
	width: 150px;
}
.isMobileWide .icon-box h3 {
	font-size: 16px;
	width: 200px;
}

.isMobileTall .icon-box p {
	width: calc(100%-10px);
	padding: 20px 5px 0 5px;
	margin-bottom: 40px;
	font-size: 12px;
}
.isMobileWide .icon-box p {
	width: 180px;
	margin: 0 auto;
	margin-bottom: 40px;
	padding: 20px 0 0 0;
}
.isLaptop .icon-box p {
	margin-bottom: 40px;
}
.isDesktop .icon-box p {
	margin-bottom: 0;
}




/*  ==========================================================

	* WORK

    ==========================================================  */


#filters {
	float: left;
	margin-bottom: 50px;
	width: 100%;
}

.filter-spacer {
	position: relative;
	float: left;
	width: 6%;
	height: 48px;
}

#project-content {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.belowfold-work {
	display: none;
}

.project-box {
    position: relative;
	float: left;
    overflow: hidden;
    text-align: center;
}
.isMobileTall .project-box {
	width: 100%;
    height: 150px;
}
.isMobileWide .project-box {
	width: 50%;
    height: 150px;
}
.isLaptop .project-box {
	width: 50%;
    height: 200px;
}
.isDesktop .project-box {
    width: 33.3%;
    height: 200px;
}

a.project-box {
	text-decoration: none;
}

.project-imgbox {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	max-height: 200px;
	width: 100%;
	text-align: center;
	overflow: hidden;
}

.project-imgbox img {
	width: 100%;
    height: auto;
}

.project-overlay {
	position: relative;
	width: 100%;
	height: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: rgba(52,152,219,0.7);
	display: table;
	padding: 0 30px;

	opacity: 0;

	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.project-overlay:hover {
	opacity: 1;
}

.project-title {
	height: 100%;
	width: 100%;
    vertical-align: middle;
	display: table-cell;
	margin: auto;
}

.isMobileTall .project-box h2, .isMobileWide .project-box h2 {
	font-size: 20px;
}
.isMobileTall .project-box h4, .isMobileWide .project-box h4 {
	font-size: 14px;
}

.all-videos {
    display: block;
    background: #0074D9;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #FFFFFF;
    width: 50%;
    margin: 50px auto 0 auto;
    padding: 11px 0;
    -webkit-transition: background 0.3s;
}

.all-videos:hover {
	background: #2991EC;
}

a.all-videos {
	text-decoration: none;
}

#portfolio {
	min-height: 560px;
}

.back-button {
	position: absolute;
	padding-top: 12px;
}




/*  ==========================================================

	* TEAM

    ==========================================================  */


.team-box {
    position: relative;
	float: left;
    overflow: hidden;
    text-align: center;
}
.isMobileTall .team-box {
    height: 230px;
    width: 300px;
    margin-bottom: 12px;
}
.isMobileWide .team-box {
    height: 306px;
    width: 400px;
    margin-bottom: 16px;
}
.isLaptop .team-box {
    height: 225px;
    width: 294px;
    margin-bottom: 12px;
}
.isDesktop .team-box {
    height: 300px;
    width: 392px;
    margin-bottom: 16px;
}

a.team-box {
	text-decoration: none;
}

.team-box img {
	position: absolute;
	top: -10px; right: 0; right: 0; bottom: 0;
	min-height: 100%;
	width: 100%;
	height: auto;
	text-align: center;
}

.team-column-spacer {
	float: left;
	margin-bottom: 16px;
}
.isMobileTall .team-column-spacer, .isMobileWide .team-column-spacer {
    display: none;
}
.isLaptop .team-column-spacer {
	width: 12px;
    display: inline;
    height: 200px;
}
.isDesktop .team-column-spacer  {
	width: 16px;
	display: inline;
    height: 300px;
}

.team-overlay {
	position: absolute;
	right: 0; bottom: 0; left: 0;
	background: rgba(0,0,0,0.8);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.isMobileTall .team-overlay {
    height: 230px;
    width: 300px;
	padding: 15px 30px;
}
.isMobileWide .team-overlay {
    height: 306px;
    width: 400px;
	padding: 30px;
}
.isLaptop .team-overlay{
    height: 225px;
    width: 294px;
	padding: 15px 30px;
}
.isDesktop .team-overlay {
    height: 300px;
    width: 392px;
	padding: 30px;
}

.team-title p {
	text-align: left;
	color: #FFFFFF;
}
.isMobileTall .team-title p, .isLaptop .team-title p {
	padding-top: 5px;
	font-size: 13px;
}
.isMobileWide .team-title p, .isDesktop .team-title p {
	padding-top: 25px;
}

.isMobileTall .team-title h2, .isLaptop .team-title h2 {
	font-size: 20px;
	margin-bottom: 10px;
}

.team-links {
	position: absolute;
	height: auto;
}
.isMobileTall .team-links {
	width: 240px;
	bottom: 15px;
	text-align: center;
}
.isMobileWide .team-links {
	width: 340px;
	bottom: 30px;
	text-align: right;
}
.isLaptop .team-links {
	width: 234px;
	bottom: 15px;
	text-align: center;
}
.isDesktop .team-links {
	width: 332px;
	bottom: 30px;
	text-align: right;
}

.team-links i {
	padding: 0 10px;
	color: #666666;

	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}
.isMobileTall .team-links i, .isLaptop .team-links i {
	font-size: 24px;
}

.team-links i:hover {
	color: #FFFFFF;
}

.team-box .team-overlay {
	top: 100%; /*75%*/
	background: rgba(0,0,0,0);

	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
.isMobileTall .team-box .team-overlay, .isLaptop .team-box .team-overlay {
	top: 100%; /*80%*/
}

.team-box:hover .team-overlay {
	top: 0;
	background: rgba(0,0,0,0.8);
}




/*  ==========================================================

	* CONTACT

    ==========================================================  */


.emailaddress {
	letter-spacing: 0.06em;
	font-weight: 400;
	font-family: "Montserrat", sans-serif;
	text-align: center;
	line-height: 110%;
	padding: 0;
}
.isMobileTall .emailaddress {
	font-size: 13px;
	margin-bottom: 50px;
}
.isMobileWide .emailaddress {
	font-size: 18px;
	margin-bottom: 50px;
}
.isLaptop .emailaddress {
	font-size: 26px;
	margin-bottom: 70px;
}
.isDesktop .emailaddress {
	font-size: 26px;
	margin-bottom: 70px;
}

.social-wrapper {
	overflow: hidden;
	margin-bottom: 50px;
	width: 100%;
	height: 100%;
	padding-bottom: 20px;
}

.social-box {
	float: left;
	padding: 15px 15px 0 15px;
	height: auto;
	text-align: center;
}
.isMobileTall .social-box {
	width: calc(50% - 30px);
}
.isMobileWide .social-box {
	width: calc(50% - 30px);
}
.isLaptop .social-box {
	width: calc(33.3% - 30px);
}
.isDesktop .social-box {
	width: calc(16.6% - 30px);
}

.social-base {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0 auto;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.05);
	color: #FFFFFF;
	
	-webkit-transition: background 0.3s, color 0.3s;
	transition: background 0.3s, color 0.3s;
}
.isMobileTall .social-base {
	width: 60px;
	height: 60px;
}
.isMobileWide .social-base {
	width: 80px;
	height: 80px;
}
.isLaptop .social-base, .isDesktop .social-base {
	width: 100px;
	height: 100px;
}

.social-base:after {
	position: absolute;
	top: -7px;
	left: -7px;
	display: block;
	padding: 7px;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: 0 0 0 4px #fff;
	content: '';
	
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	
	-webkit-transform: scale(.8);
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transform: scale(.8);
	pointer-events: none;
}

.social-base i {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;	
}
.isMobileTall .social-base i {
	font-size: 26px;
	padding-top: 17px;
}
.isMobileWide .social-base i {
	font-size: 30px;
	padding-top: 25px;
}
.isLaptop .social-base i, .isDesktop .social-base i {
	padding-top: 35px;
}

.social-base:hover {
	color: #111111;	
	background: rgba(255, 255, 255, 1);
}

.social-base:hover:after {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.uparrow-box {
	display: block;
	height: 45px;
	margin-top: 50px;
	cursor: default;
}

p.uparrow {
	width: 100%;
	height: 45px;
	padding: 0;
	text-align: center;
}

p.uparrow i {
	color: #666666;

	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	cursor: pointer;
}

p.uparrow i:hover {
	color: #FFFFFF;
}




/*  ==========================================================

	* HELPER CLASSES

    ==========================================================  */


.hide {
	display: none;
}

#no-margin {
	margin-bottom: 0;
}

.hide-overflow {
	overflow: hidden;
}

.white {
	color: #FFFFFF;
}

.blue {
	color: #0074D9;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}




/*  ==========================================================

	* ISOTOPE

    ==========================================================  */


/**** Isotope Filtering ****/

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    z-index: 1;
    pointer-events: none;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    transition-duration: 0s;
}




/*  ==========================================================

	* MAILCHIMP

    ==========================================================  */

.isDesktop #mc_embed_signup
{
    padding: 0 100px;
}

#mc-embedded-subscribe-form
{
    overflow: hidden;
    padding: 0; 
    margin: 0;
}

#mce-EMAIL 
{
    float: left;
    height: 36px;
    width: 72%;
    padding: 0 15px;
    margin: 0;
    border: none;
    margin-right: 3%;
    box-sizing: border-box;
    color: #222222;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}
.isMobileTall #mce-EMAIL
{
    font-size: 11px;
}

#mc-embedded-subscribe
{
    float: left;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    height: 36px;
    width: 25%;
    background: #0074D9;
    border: none;
    -webkit-transition: background 0.3s;
}
.isMobileTall #mc-embedded-subscribe
{
    font-size: 11px;
}

#mc-embedded-subscribe:hover
{
    background: #2991EC;
}